body{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
  text-align: center;
  margin: 0;
  background-color: rgb(34,34,34);
  color: white;
}

/* general */
.clickable:hover{
  color: rgb(98,137,231);
  cursor: pointer;
}
.border{
  border: 1pt solid black;
  margin: .5rem;
  padding: .5rem;
}
.container{
  margin: 1rem;
  padding: 1rem;
}
.red{
  color: red;
  font-weight: bold;
}
.smaller{
  font-size: smaller;
}
.xx-small{
  font-size: xx-small;
}
.large{
  font-size:large;
}
.xx-large{
  font-size:xx-large;
}
.right-align{
  text-align: end;
}


/* testing */
.bgp{
  background-color: rgb(100,0,100);
}

/* Header */
#header{
  /* font-family: Special Elite, Monaco; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgb(0,70,0);
  align-items: center;
  padding: 2rem 0 0 0;
}
/* #header-image{
  width: 15rem;
  border-radius: 4rem;
} */
#header-title{
  font-size: 4rem;
  margin: 1rem 0 2rem 0;
}
#nav-options{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 90vw;
}
.nav-option{
  color: white;
  font-size: 2rem;
  text-decoration: none;
  /* font-weight: bold; */
}
.nav-option:hover{
  font-size: 2.2rem;
}
.currentPath{
  color: rgb(98,137,231);
  font-size: 2.2rem;
}

/* Footer */
/* #footer{
  padding: 1rem;
  background-color: rgb(0,70,0);
}
#footer-title{
  padding: 1rem 0;
  font-size: 2.5rem;
  font-family: Special Elite, Monaco;
}
.contact-row{
  display:flex;
  justify-content: center;
}
.icon{
  color: white;
  font-size: 5rem;
  margin: 0 4rem;
}
#footer-tag-line{
  padding: 1rem 0 0 0;
  font-size: 1.5rem;
  font-family: Special Elite, Monaco;
} */


/* Welcome Page */


/* Game Page */
#game-details-container{
  background-color: blueviolet;
}
#casualty-to-stress-container{
  background-color: green;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.c-to-s-conversion-box{
  display: grid;
  grid-template-columns: 1fr 2fr;
}
.stress-area{
  display: grid;
  grid-template-rows: 1fr 4fr;
}
.flags-and-casualty-range-area{
  display: grid;
  grid-template-rows: 2fr 1fr;
}
.flag-area{
  display: grid;
  grid-template: repeat(3, 1fr)/repeat(3, 1fr);
}
.flag-box{
  width: 1.5rem;
}
.c-to-s-1{
  grid-area: 1/1;
}
.c-to-s-2{
  grid-area: 1/2;
}
.c-to-s-3{
  grid-area: 1/3;
}
.c-to-s-4{
  grid-area: 2/1;
}
.c-to-s-5{
  grid-area: 2/2;
}
.c-to-s-6{
  grid-area: 2/3;
}
.c-to-s-7{
  grid-area: 3/1;
}

.casualty-range-area{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}




/* Country Component */
.country-container{
  background-color: blue;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Casualty Component */

/* ______ Page */
/* ______ Page */
/* ______ Page */
